@model IEnumerable<CappypopMVC.Models.DatabaseModels.Cappylife>

@{
    ViewData["Title"] = "Index";
}
<!-- Breadcrumbs -->
<div class="breadcrumbs overlay" style="background-image: url(/img/blogs/blog-header3.png);">
	<div class="container">
		<div class="bread-inner">
			<div class="row">
				<div class="col-lg-9">
					<h2>View Our Newest Trend</h2>
					<ul class="bread-list">
						<li>Stay updated and discover new bubble tea recipes on our blog.</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- End Breadcrumbs -->

<!-- Start Blog Area -->
<section class="blog section" id="blog">
	<div class="container">
		<div class="row">
			<div class="col-lg-12">
				<div class="section-title">
					<h2>Your Go-to Resource for All Things Bubble Tea.</h2>
					<img src="/img/favicon.png" alt="favicon" width="50" height="50">
					<p>Stay updated and discover new bubble tea recipes on our blog</p>
				</div>
			</div>
		</div>
		<div class="row align-items-center">
			@foreach (var cappylife in Model){
			<!-- Single Blog -->
			<div class="col-lg-3 col-md-6 col-12">

				<div class="single-news">
					<div class="news-head">
						<img src="@cappylife.PhotoURL" alt="#">
					</div>
					<div class="news-body">
						<div class="news-content">
							<div class="tag">@cappylife.Category</div>
								<h2><a asp-action="Detail" asp-route-id="@cappylife.Id">@cappylife.Name</a></h2>
							<p class="text">@cappylife.Description</p>
						</div>
					</div>
				</div>
			</div>
			<!-- End Single Blog -->
			}
		</div>
	</div>
</section>

			<!-- Start Community Video -->
			<section class="why-choose section">
				<div class="container">
					<div class="row">
						<div class="col-lg-12">
							<div class="section-title">
								<h2>Our Commitment to Sustainability</h2>
								<img src="/img/favicon.png" alt="#" width="50" height="50">
								<p>Eco-Friendly Practices at Our Shop. CappyPop's effors to be environmentally friendly</p>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-lg-6 col-12">
							<!-- Start Choose Left -->
							<div class="choose-left">
								<h3>Community & Environment!</h3>
								<p>Our commitment to eco-friendly practices includes using biodegradable straws and offering reusable cups.</p>
								<p>And Supporting Local: How We Source Our Ingredients: Partnerships with local suppliers and farmers.</p>
								<div class="row">
									<div class="col-lg-6">
										<ul class="list">
											<li><i class="icofont-ui-play"></i>Community & Environment! </li>
											<li><i class="icofont-ui-play"></i>Eco-friendly practices</li>
											<li><i class="icofont-ui-play"></i>Biodegradable straws and reusable cups.</li>
										</ul>
									</div>
									<div class="col-lg-6">
										<ul class="list">
											<li><i class="icofont-ui-play"></i>Supporting Local</li>
											<li><i class="icofont-ui-play"></i>Partnerships with local suppliers</li>

										</ul>
									</div>
								</div>
							</div>
							<!-- End Choose Left -->
						</div>
						<div class="col-lg-6 col-12">
							<!-- Start Choose Rights -->
							<div class="choose-right">
								<div class="video-image">
									<!-- Video Animation -->
									<div class="promo-video">
										<div class="waves-block">
											<div class="waves wave-1"></div>
											<div class="waves wave-2"></div>
											<div class="waves wave-3"></div>
										</div>
									</div>
									<!--/ End Video Animation -->
									<a href="https://www.youtube.com/watch?v=nD2k199_HBM&pp=ygUKYnViYmxlIHRlYQ%3D%3D" class="video video-popup mfp-iframe"><i class="icofont-ui-play"></i></a>
								</div>
							</div>
							<!-- End Choose Rights -->
						</div>
					</div>
				</div>
			</section>
			<!--/ End Community Video -->
			<!-- Start Call to action -->
			<section class="call-action overlay" data-stellar-background-ratio="0.5">
				<div class="container">
					<div class="row">
						<div class="col-lg-8 col-md-12 col-12">
							<div class="content">

								<h2>Join us and Create <span>Sweet Memories</span>  Together!</h2>

								<div class="button">
									<a href="aboutus.html" class="btn">Learn more About Us</a>
									<a href="#" class="btn second"><i class="icofont-facebook-messenger"></i> Contact now <i class="fa fa-long-arrow-right"> </i></a>
								</div>
							</div>
						</div>


					</div>
				</div>
			</section>
			<!--/ End Call to action -->
